---
---

$color_accent: #1B2F62;
$color_accent2: #3A5693;

@font-face {
  font-family: 'BitstreamVeraSans-Roman';
  src: url('./fonts/BitstreamVeraSans-Roman.eot?#iefix') format('embedded-opentype'),  url('./fonts/BitstreamVeraSans-Roman.woff') format('woff'), url('./fonts/BitstreamVeraSans-Roman.ttf')  format('truetype'), url('./fonts/BitstreamVeraSans-Roman.svg#BitstreamVeraSans-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
   font-family: 'BitstreamVeraSans-Roman', Verdana, Tahoma, 'Sans serif';
}

header {
    font-family: 'EngraversGothicBT-Regular';
    background: -webkit-linear-gradient($color_accent 60%, $color_accent2 40%);
    background: -moz-linear-gradient($color_accent 60%, $color_accent2 40%);
    background: -o-linear-gradient($color_accent 60%, $color_accent2 40%);
    background: linear-gradient($color_accent 60%, $color_accent2 40%);
    .site-title {
        color: white;
    }
}