---
layout: page_glpi
title: glpi
permalink: /glpi/
---

<div class="treeList">

    {% assign site_categories = site.tags | map: 'glpi' %}

    {% capture arrayAll %}
        {% for post in site.categories.glpi %}
            {{ post.tags[0] }}
        {% endfor %}
    {% endcapture %}

        {% assign allCategories = arrayAll | split: " " | uniq %}
        
        {% assign cont = 1 %}

        {% for categorie in allCategories %}
            {% assign modulo = cont | modulo: 2 %}
        
            {% if modulo == 0 %}
                <h3>{{ categorie }}</h3>
                {% else %}
                    {% if categorie != 'glpi' %}

                        {% assign version = categorie | split: '#' %}

                        <h4>{{ version[1] }}</h4>
                        {% assign cont2 = cont | minus: 2 %}
                        {% capture tag %}
                          glpi {{allCategories[cont2]}} {{ categorie }}
                        {% endcapture %}
                        
                        {% assign tag = tag | rstrip | lstrip %}

                        {% assign my_variable7 = site.tags[tag] %}

                        {% for post in my_variable7 %}
                            <li>
                                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            </li>
                        {% endfor %}

                    {% endif %}
            {% endif %}
            {% assign cont = cont | plus: 1 %}
            
        {% endfor %}

</div>
