---
layout: page
title: ios 
design: ios
tags:
    - pr-BR
---

<div class="treeList">

    {% capture arrayAll %}
        {% for page in site['pr-BR'] %}
            {% if page.design == "ios" %}
                {{ page.tags[0] }}
            {% endif %}
        {% endfor %}
    {% endcapture %}
    
    {% assign allCategories = arrayAll | split: " " | uniq %}

    {% assign cont = 1 %}

    {% for categorie in allCategories %}
            {% assign modulo = cont | modulo: 2 %}
            {% if modulo == 0 and categorie != 'pr-BR' %}
                <h3>{{ categorie }}</h3>
                {% else %}
                    {% if categorie != 'ios' %}

                        {% assign version = categorie | split: '#' %}

                        <h4>{{ version[1] }}</h4>
                        {% assign cont2 = cont | minus: 2 %}
                        {% capture tag %}
                          ios {{allCategories[cont2]}} {{ categorie }}
                        {% endcapture %}
                        
                        {% assign tag = tag | rstrip | lstrip %}

                        {% assign allArticles = site['pr-BR'] |  where:"tags",tag %}

                        {% for article in allArticles %}
                            <li>
                                <a href="{{ article.url | relative_url }}">{{ article.title | escape }}</a>
                            </li>
                        {% endfor %}

                    {% endif %}
            {% endif %}
            {% assign cont = cont | plus: 1 %}
            
        {% endfor %}

</div>
